* {
	user-select: none;
}

.slide {
	opacity: 0;
	transform: scale(0);
	transition: 3s ease;
	will-change: transform, box-shadow, z-index;
	box-shadow: 0;
}

.slide.active {
	opacity: 1;
	transform: scale(1.08);
	transition-delay: 1s;
	transition-duration: 2s;
	box-shadow: 2px 6px 6px 2px;
	will-change: transform, box-shadow, z-index;
}

.icon {
	box-shadow: 2px 5px 8px 2px;
	opacity: 0.15;
}

.icon:hover {
	opacity: 0.7;
}
